extends ../layout

block content
	em.muted browse profiles:
	.page-header
		h1 Profiles
			small  search
	.row
		.span12
			.well
				h6 Search
				.input-append
					input(type='text')
					button.btn(type='button')
						i.icon-search
	.row
		.span12
			.users(data-bind='foreach: users')
				a(data-bind='{ attr: { href: url } }')
					.sub_main.rounded(style='width: auto; margin-bottom: 10px; padding: 20px;')
						a.btn.btn-success.pull-right(href='/profiles/#{usr._id}')
							i.icon-envelope.icon-white
							|  Invite
						img.pull-left(src='https://graph.facebook.com/#{usr.fb.id}/picture?type=square', alt='#{usr.fullName')
						h3 #{usr.fullName}
							span.label.label-info(style='margin-left: 10px;') Group
						p.muted #{usr.bio}
append scripts
	script
		var groupId = !{JSON.stringify(user.group)};
	script(src='/js/profiles.me.knockout.js')
