
extends ../layout

block content
	.page-header
		h1
			| My Account
			small  this is you
	.row
		.span3
			.page-header
				h3 Picture
			.well
				img(src='https://graph.facebook.com/' + everyauth.user.fb.id + '/picture?type=large', alt='#{user.fullName}')

			.page-header
				h3 Info
			.well
				h6 name
				p(data-bind='text: profile.fullName')
				h6 status
				p(data-bind='text: profile.status')
				h6 email
				p
					a(data-bind='text: profile.email, attr: { href: profile.email_link }')
				h6 facebook
				p
					a(href='#{everyauth.facebook.user.link}', target='_blank') #{everyauth.facebook.user.username}
				h6 twitter
				p
					a(data-bind='text: profile.twitter, attr: { href: profile.twitter_link }', target='_blank')
				h6 bio
				p(data-bind='text: profile.bio')

			.page-header
				h3 Group
			.well
				- if (!me.group)
					p You haven't joined a group.
					a.btn.btn-primary.btn-large(data-toggle='modal', href='#create_group_modal', style='display: block;') Create a group
					#create_group_modal.modal.hide.fade
						.modal-header
								button.close(data-dismiss='modal') ×
								h3 New Group
							.modal-body
								form#new_group_form(method='post', action='/groups')
									.control-group
										label.control-label(for='group_name') Name
											.controls
												input#group_name.input-xlarge(type='text', name='name', placeholder='Your groups cool name goes here')
									.control-group
										label.control-label(for='group_description') Description
											.controls
												textarea#group_description.input-xlarge(rows='3', name='description', placeholder='Some awesome group description')
							.modal-footer
								button.btn.btn-primary(type='submit', form='new_group_form') Create
				- else
						h6 name
						p #{me.group.name}
						h6 description
						p #{me.group.description}
						hr
						p
							a.btn.btn-primary(href='/roomies', style='display: block;')
								| Visit
						p
							a.btn.btn-danger(data-toggle='modal', href='#confirm-leave-modal', style='display: block;')
								| Leave
							#confirm-leave-modal.modal.hide.fade.in
								.modal-header
									button.close(data-dismiss='modal')×
									h3 Confirmation
								.modal-body
									p You are about to leave your group #{me.group.name}!
									strong Are you sure?
								.modal-footer
										a.btn.btn-danger(data-bind='event: { click: leaveGroup }', style='display: block;')
											| Yes, I'm sure I want to leave my group!
		.span6
			#update-success.alert.alert-success.fade.in(style='display: none;')
				button.close(data-dismiss='alert')×
				strong Success.&nbsp;
				| Changes saved!
			form.form-horizontal
				.page-header
					h3 My status
				.control-group
					label.control-label(for='status') Status:
					.controls
						select(name='status', data-bind='options: profile.statusValues, value: profile.status')
				.page-header
					h3 My info
				.control-group
					label.control-label(for='name') Full name:
					.controls
						input(type='text', name='name', data-bind='value: profile.fullName')
				.control-group
					label.control-label(for='bio') Bio:
					.controls
						textarea(name='bio', placeholder='Something about you.', data-bind='value: profile.bio')
				.control-group
					label.control-label(for='email') Email:
					.controls
						.input-prepend
							span.add-on
								i.icon-envelope
							input(type='email', name='email', data-bind='value: profile.email')
				.control-group
					label.control-label(for='twitter') Twitter:
					.controls
						.input-prepend
							span.add-on @
							input(type='text', name='twitter', data-bind='value: profile.twitter')
				.control-group
					.controls
						btn#update_profile.btn.btn-success.btn-large(data-bind='click: profile.update') Save Changes
		.span3
			.page-header
				h3 Points
			p You haven't earned any points.
			.page-header
				h3 Awards
			p You haven't earned any badges.
			.page-header
				h3 Invites
			section#invites(data-bind='foreach: invites')
				span(data-bind='if: $data.isPending')
					.alert.alert-block.alert-info
						h4 You've been invited!
						p
							| by&nbsp;
							a(data-bind='text: $data.invited_by.fullName, attr: { href: $data.invited_by_link }')
							| &nbsp;to join the group&nbsp;
							a(data-bind='text: $data.group.name, attr: { href: $data.group_link }')
							|!
						strong motivation:
						p
							em.muted(data-bind='text: $data.motivation')
						p
							| &rarr;&nbsp;
							a(href='#', data-bind='event: { click: $data.accept }') Accept
							| &nbsp;or&nbsp;
							a(href='#', data-bind='event: { click: $data.reject }') Reject

append scripts
	script(src='/js/profiles.me.knockout.js')
