extends ../layout

block content
	.row
		.span12
			ul.breadcrumb
				li
					a(href='/groups') Groups
					span.divider /
				li.active
					| #{group.name}
	.row
		.span12
			.rounded-box.grey-box(style='padding: 15px;')
				h1 #{group.name}
				div.pull-left(style='margin-right: 30px;')
					h6 Members:
					p
						each u in members
								a(href='/profiles/#{u._id}', title='#{u.fullName}')
									img(src='https://graph.facebook.com/' + u.fb.id + '/picture?type=square', alt='#{u.fullName}')
				div.pull-left
					h6 Description:
					p #{group.description}
					h6 Since
					p #{group.created_at}
