extends ../layouts/layout-desktop

block content
	.row-fluid
		.span12
			.title_page #{group.name}
			.title_header_under
			.hr
		
	.row-fluid.top_block
		.span3
			.triangle_header Members
			.hr.top
				.triangle
			.text_block
				p
					each u in members
							a(href='/profiles/#{u._id}', title='#{u.fullName}')
								img(src='https://graph.facebook.com/' + u.fb.id + '/picture?type=square', alt='#{u.fullName}')
		.span9
			.text_block
				p.group_info
					h6 Description:
					p #{group.description}
					h6 Since
					p #{group.created_at}
					a.btn(href='/groups') Back to groups
