extends ../layouts/layout-desktop

block content
	.row-fluid
		.span12
			#profile_header(data-bind='text: profile.fullName')
			.hr
	.row-fluid.profile_block
		.span3
			.row-fluid
				#profile_picture
					img(src='https://graph.facebook.com/' + everyauth.user.fb.id + '/picture?type=large', alt='#{user.fullName}')
			.row-fluid.profile_block
				.profile_header Hall of fame
				.hr.top
					.triangle
				#profile_points
					p
						span POINTS
						- if (user.achievements.score_count && user.achievements.score_count > 0)
							p#profile_point_total #{user.achievements.score_count}
						- else
							p#profile_point_total 0
					p
						span BADGES
						#profile_badges
							- if (user.achievements.unlocked && user.achievements.unlocked.length > 0)
									each b in user.achievements.unlocked
										span#badge_unlocked
											img(src='/desktop/img/' + b.id + '.png', title=b.name)
							- else
								p No badges earned yet!

		.span6
			#update-success.alert.alert-success.fade.in(style='display: none;')
				button.close(data-dismiss='alert')×
				strong Success.&nbsp;
				| Changes saved!
			.row-fluid
				.profile_header status
				.hr.top
					.triangle
				form.form-horizontal.left
					.control-group
						label.control-label(for='status') Status:
						.controls
							select(name='status', data-bind='options: profile.statusValues, value: profile.status')
			.row-fluid
				.profile_header info
				.hr.top
					.triangle
				form.form-horizontal.left
					.control-group
						label.control-label(for='name') Full name:
						.controls
							input(type='text', name='name', data-bind='value: profile.fullName')
					.control-group
						label.control-label(for='bio') Bio:
						.controls
							textarea(name='bio', placeholder='Something about you.', data-bind='value: profile.bio')
					.control-group
						label.control-label(for='email') Email:
						.controls
							.input-prepend
								input(type='email', name='email', data-bind='value: profile.email')
					.control-group
						label.control-label(for='twitter') Twitter:
						.controls
							.input-prepend
								input(type='text', name='twitter', data-bind='value: profile.twitter')
					.control-group
						.controls
							btn#update_profile.btn.btn-success(data-bind='click: profile.update') Save Changes
		.span3
			.row-fluid#profile_group
				.profile_header group
				.hr.top
					.triangle

				- if (!me.group)
					span You haven't joined a group yet!
					a.btn.btn-primary.btn-large#create_group_button(data-toggle='modal', href='#create_group_modal', style='display: block;') Create a group
					#create_group_modal.modal.hide.fade
						.modal-header
								button.close(data-dismiss='modal') ×
								h3 New Group
							.modal-body
								form#new_group_form(method='post', action='/groups')
									.control-group
										label.control-label(for='group_name') Name
											.controls
												input#group_name.input-xlarge(type='text', name='name', placeholder='Your groups cool name goes here')
									.control-group
										label.control-label(for='group_description') Description
											.controls
												textarea#group_description.input-xlarge(rows='3', name='description', placeholder='Some awesome group description')
							.modal-footer
								button.btn.btn-primary(type='submit', form='new_group_form') Create
				- else
						span Name
						p.profile_group_name #{me.group.name}
						span Description
						p.profile_group_name #{me.group.description}
						p.profile_block
							a.btn.btn-primary(href='/roomies', style='display: block;')
								| Visit
						p
							a.btn.btn-danger(data-toggle='modal', href='#confirm-leave-modal', style='display: block;')
								| Leave
							#confirm-leave-modal.modal.hide.fade.in
								.modal-header
									button.close(data-dismiss='modal')×
									h3 Confirmation
								.modal-body
									p You are about to leave your group #{me.group.name}!
									strong Are you sure?
								.modal-footer
										a.btn.btn-danger(data-bind='event: { click: leaveGroup }', style='display: block;')
											| Yes, I'm sure I want to leave my group!
				section#invited(data-bind='foreach: invites')
					span(data-bind='if: $data.isPending')
						.alert.alert-block.alert-info
							h4 You've been invited!
							p
								| by&nbsp;
								a(data-bind='text: $data.invited_by.fullName, attr: { href: $data.invited_by_link }')
								| &nbsp;to join the group&nbsp;
								a(data-bind='text: $data.group.name, attr: { href: $data.group_link }')
								|!
							strong motivation:
							p
								em.muted(data-bind='text: $data.motivation')
							p
								| &rarr;&nbsp;
								a(href='#', data-bind='event: { click: $data.accept }') Accept
								| &nbsp;or&nbsp;
								a(href='#', data-bind='event: { click: $data.reject }') Reject

append scripts
	script(src='/desktop/js/me.knockout.js')
