extends ../layouts/layout-desktop

block content
	.row-fluid
		.span12
			a(style='display: block;', href='#update-group-modal', data-toggle='modal')
				.title_page(data-bind='text: groupViewModel.group.name')
			.title_header_under(data-bind='text: groupViewModel.group.description')
			.hr

	.row-fluid
		.span3
			#update-success.alert.alert-success.fade.in(style='display: none;')
				button.close(data-dismiss='alert')×
				| Changes Saved

			#update-group-modal.modal.hide.fade(style='display: none;')
				.modal-header
					button.close(data-dismiss='modal') ×
					h3 Edit group
				.modal-body
					form.form-horizontal
						.control-group
							label.control-label(for='name') Name:
							.controls
								input(data-bind='value: groupViewModel.group.name', type='text', name='name')
						.control-group
							label.control-label(for='description') Description:
							.controls
								textarea(data-bind='value: groupViewModel.group.description', name='description', placeholder='Add a description here')
				.modal-footer
					a.btn.btn-primary(href='#', data-bind='click: groupViewModel.update') Save Changes
					a.btn(href='#', data-dismiss='modal') Close

			.row-fluid.top_block
				.span12
					.triangle_header Roomies
					.hr.top
						.triangle
					.text_block
						p
						each u in members
							a.pull-left(href='/profiles/#{u._id}', title='#{u.fullName}', style='margin-right: 10px;')
								img(src='https://graph.facebook.com/' + u.fb.id + '/picture?type=square', alt='#{u.fullName}')
							h6 #{u.fullName}
							em.muted.title_header_under #{u.status}

			.row-fluid.top_block
				.span12
					.triangle_header Invites
					.hr.top
						.triangle
					.text_block
						p
						- if (invites && invites.length > 0)
							each i in invites
								p
									strong #{i.invitee.fullName}
									em.muted &nbsp;-&nbsp;#{i.status}

						- else
							p No invites for this group

						btn.btn.btn-primary(style='display: block;', href='#invite-user-modal', data-toggle='modal')
							i.icon-plus-sign.icon-white
							|  Add invite

						#invite-success.alert.alert-success.fade.in(style='display: none;')
							button.close(data-dismiss='alert')×
							| A invitation has been send!

				#invite-user-modal.modal.hide.fade(style='display: none;')
					.modal-header
						button.close(data-dismiss='modal')×
						h3 Send a Invitation
					.modal-body
						form#searchForm.form-search.dropdown
							input.input-large.search-query.dropdown-toggle(data-bind='value: inviteViewModel.searchquery', type='text', name='search', placeholder='Search')
							ul.dropdown-menu(data-bind='foreach: inviteViewModel.searchResults')
								li
									a(data-bind='click: $parent.inviteViewModel.select', href='#')
										p.list-item
											img.pull-left(data-bind='attr: { src: picture, alt: name }')
											span(data-bind='text: name')
						p(data-bind='visible: inviteViewModel.invitee, with: inviteViewModel.invitee')
							a(data-bind='attr: { href: link, title: name }', target='_blank')
								img(data-bind='attr: { src: picture, alt: name }', style='padding-right: 10px;')
								span(data-bind='text: name')
						label(for='motivation')
							strong Motivation
							textarea(name='motivation', placeholder='Type a motivation here', data-bind='value: inviteViewModel.motivation')
					.modal-footer
						a.btn(href='#', data-dismiss='modal') Close
						a.btn.btn-primary(href='#', data-bind='click: inviteViewModel.invite') Invite

		.span9
			.row-fluid
				.triangle_header Leaderboard
				.hr.top
					.triangle
				.text_block
					table.table.table-striped
						thead
							tr
								th #
								th 
								th Roomie
								th Tasks
								th Points
								th Awards
						tbody(data-bind='foreach: groupViewModel.members')
							tr
								td(data-bind='text: index')
								td
									img(data-bind='attr: { src: picture }', alt='alt')
								td(data-bind='text: name')
								td(data-bind='text: task_count')
								td(data-bind='text: score_count')
								td(data-bind='text: award_count')

			.row-fluid
				.triangle_header Chat
				.hr.top
					.triangle
				.text_block

					section.messages(data-bind='foreach: chatViewModel.messages')
						.message-wrapper
							.screen-name(data-bind='text: author')
							.message(data-bind='text: text')
							.muted.pull-right(data-bind='text: timestamp')
					form.well.form-inline
						input(data-bind='value: chatViewModel.current, valueUpdate: \'afterkeydown\', enterKey: chatViewModel.addMessage', type='text', placeholder='Type your message', autofocus='autofocus')
						button.btn.btn-primary.pull-right(data-bind='click: chatViewModel.addMessage') Send

append scripts
	script(src='/socket.io/socket.io.js')
	script
		var username = !{JSON.stringify(user.fullName)};
	script(src='/desktop/js/roomies.knockout.js')
	script(src='/common/js/lib/xdate.min.js')
	script(src='/common/js/enterKey.handler.knockout.js')
	script(src='/common/js/trim.js')
